name: Update README
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 14 * * *'
  workflow_dispatch:
  repository_dispatch:
    types: [update-readme]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check main repo
        run: |
          if [[ "${{ github.repository }}" != "Zitann/HarmonyOS-Haps" ]]; then
            echo "不是主仓库，跳过执行"
            exit 0
          fi

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Update README
        run: python assets/update.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get updated apps
        run: |
          if [ -f .apps_str.txt ]; then
            apps_str=$(cat .apps_str.txt)
            echo "apps_str=$apps_str" >> $GITHUB_ENV
            rm -f .apps_str.txt
          else
            echo "apps_str=列表排序" >> $GITHUB_ENV
          fi

      - name: Check for changes
        id: changes
        run: |
          git diff --exit-code README.md || echo "changed=true" >> $GITHUB_OUTPUT

      - name: Commit changes
        if: steps.changes.outputs.changed == 'true'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "自动更新: ${{ env.apps_str }}"